.navBar {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000; 
  background-color: #212121;
}

.navBar-content {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__logo-logo {
  width: 100px;
}

.navBar__menu {
  display: flex;
}

.navBar__menu p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.navBar__menu a:not(:last-child) {
  margin-right: 35px;
}

.navBar__mobile {
  display: flex;
  align-items: center;
}

.navBar__mobile p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 1.5px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-left: 20px;
}

.navBar__burger {
  display: none;
  cursor: pointer;
  margin-left: 30px;
}

.burger-icon {
  width: 25px;
  height: 18px;
  position: relative;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: all 0.3s;
}

.burger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navBar__mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 80px;
  right: 0;
  width: 100%;
  background-color: #212121;
  z-index: 999;
  transition: all 0.3s;
  padding-bottom: 20px;
}

.navBar__mobile-menu a {
  padding: 10px 0;
}

.navBar__mobile-menu p {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 1.5px solid white;
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  text-align: center;
}

.navBar__mobile-menu.open {
  display: flex;
}
.navBar__mobile{
  padding-right: 10px;
}

@media screen and (max-width: 1050px) {
  .navBar-content {
    width: 100%;
    padding: 0 20px;
  }

  .navBar__menu {
    display: none;
  }

  .navBar__burger {
    display: block;
  }
}

@media screen and (max-width: 440px) {
  .navBar__mobile p {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    border: 1.5px solid white;
    border-radius: 8px;
    padding: 7px;
    margin-left: 20px;
  }
}

/* Новый CSS для изменения цвета текста в бургер-меню и добавления эффектов */

.navBar__mobile-menu p {
  color: #fd5d27; /* Изменение цвета текста в бургер-меню */
}

.navBar__mobile-menu a {
  transition: color 0.3s, background-color 0.3s; /* Плавный переход для эффектов */
}

.navBar__mobile-menu a:hover p,
.navBar__mobile-menu a:focus p {
  color: #ffffff;
  background-color: #fd5d27; /* Цвет фона при наведении */
}

.navBar__mobile-menu a:active p {
  color: #ffffff;
  background-color: #e14b20; /* Цвет фона при клике */
}
