@use "../../styles/abstracts/mixins" as m;
@use "../../styles/abstracts/variables" as v;

.nav {
  @include m.flexBetween;
  background-color: v.$color-black;
  padding: 0.7rem 5rem;
}

.menu {
  @include m.flexBetween;
  width: 31.25rem;

  li {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
}

.logo {
  width: 5rem;
}

.car_finder {
  @include m.glow-button($py: 0.1rem, $px: 1rem, $glow: 0.3);
  font-size: 0.9rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
