@use "../../styles/abstracts/_variables" as v;
@use "../../styles/abstracts/mixins" as m;

.question {
  width: 100%;
  padding: 3rem 5rem;
  background: center / cover no-repeat;
  background-image: -webkit-image-set(url("../../assets/question/questionBack1920X1.jpg") 1x, url("../../assets/question/questionBack1920X2.jpg") 2x);
  background-image: image-set(url("../../assets/question/questionBack1920X1.jpg") 1x, url("../../assets/question/questionBack1920X2.jpg") 2x);
}
.container {
  background-color: #1b1b1b;
  text-align: center;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 3rem 5rem 4rem 5rem;
}

.error {
  margin-bottom: 0.7rem;
  color: v.$color-orange;
}

.title {
  color: v.$color-orange;
  font-size: 2rem;
  font-weight: v.$weight-600;
}
.subtitle {
  font-weight: v.$weight-400;
  font-size: 1.06rem;
}

.close {
  @include m.close-button;
}

.modal {
  padding: 1.5rem;
  text-align: center;
  width: 31.25rem;
}

.modalTitle {
  color: v.$color-black;
}
.modalSubtitle {
  color: v.$color-black;
  font-weight: v.$weight-400;
  font-size: 0.9rem;
}

.button {
  @include m.glow-button();
}

.subtitle {
  margin-bottom: 1.25rem;
}

.inputs {
  max-width: 60rem;
  margin: 0 auto 1.875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.select:has(option[value=""]:checked) {
  color: rgba(0, 0, 0, 0.45);
}

.input,
.select {
  @include m.modal-input;
  max-width: 500px;
}

.srOnly {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1000px) {
  .question,
  .container {
    padding: 2rem;
  }
  .question {
    background-image: -webkit-image-set(url("../../assets/question/questionBack1200X1.jpg") 1x, url("../../assets/question/questionBack1200X2.jpg") 2x);
    background-image: image-set(url("../../assets/question/questionBack1200X1.jpg") 1x, url("../../assets/question/questionBack1200X2.jpg") 2x);
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.8rem;
    line-height: 1.1;
  }
  .subtitle {
    font-size: 1rem;
  }
  .input::placeholder {
    font-size: 0.9rem;
  }
  .select {
    font-size: 0.9rem;
  }
  .question {
    background-image: -webkit-image-set(url("../../assets/question/questionBack800X1.jpg") 1x, url("../../assets/question/questionBack800X2.jpg") 2x);
    background-image: image-set(url("../../assets/question/questionBack800X1.jpg") 1x, url("../../assets/question/questionBack800X2.jpg") 2x);
  }
  .modal {
    width: 23rem;
  }
}

@media (max-width: 400px) {
  .modal {
    width: 18rem;
  }
}
