
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
}

.slider-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 98, 0, 0.851);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.slider-button:hover {
  background-color: rgba(184, 64, 0, 0.7);
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}

/* //// */

.fullscreen-slider-button__container {
  position: absolute;
  width: 100%; 
  top: 50%; 
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box; 
}
.fullscreen-slider-button {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  border: none; 
  border-radius: 50%; 
  color: white; 
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.fullscreen-slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
.fullscreen-slider-button:active {
  background-color: rgba(48, 48, 48, 0.7);
  box-shadow: 0 6px 12px rgba(35, 35, 35, 0.3); 
}


.fullscreen-slider-button-right{
margin-right: 20px;
}